@model Microsoft.AspNet.Identity.EntityFramework.IdentityRole
@{
    Layout = "~/Views/Shared/_Create.cshtml";
}

<div class="form-group">
    @Html.LabelFor(model => model.Name, "Nombre", new { @class = "control-label col-md-2" })
    <div class="col-lg-10">
        @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
    </div>
</div>